#loginForm {
    display: flex;
    flex: 1;
    flex-flow: column nowrap;
    justify-content: center;
}
#loginForm label {
    color: white;
    font-size: 30px;
}
#loginForm input{
    padding: 10px 7px;
    background: rgba(255, 255, 255, 0.74);
    font-size: 19px;
    border: none;
    border-radius: 3px;
}

#loginForm input[type="submit"] {
    margin-top: 25px;
    width: 18vw;
    padding: 15px 0;
    font-size: 23px;
    align-self: center;
    border-radius: 14px;
}

#loginForm span.error {
    color: #fa5454;
    font-size: 17px;
}